<h1>My Questions</h1>

<table>
  <thead>
  <tr>
    <th>Question</th>
    <th>Value</th>
    <th>Assigned to</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
        <td><%= question.value %></td>
        <td><%#= questionnaire.users.map { |u| u.email }.join(', ') %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Question', new_question_path %>



