<h1>Qsets</h1>

<table>
  <thead>
    <tr>
      <th>Qset name</th>
      <th colspan='2'>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @qsets.each do |qset| %>
      <tr>
        <td><%= qset.name %></td>
        <td><%= link_to 'Edit', edit_qset_path(qset) %></td>
        <td><%= link_to 'Destroy', qset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Question', new_question_path %>
<br>
<%= link_to 'New Qset', new_qset_path %>


<% if current_user.qsets.any? %>
    <h1>Alailable Quest sets</h1>
    <div class="avail_questionnaires">
      <% current_user.qsets.each do |qset| %>
          <div class="avail_questionnaires">
            <%= qset.name %>
            <%= link_to "Start", start_qset_path(qset) %>
          </div>
      <% end %>
    </div>

<% end %>
