<h1>
  <%= link_to folder.name, folder %>
  /
  <%= link_to @image.name, [folder, @image] %>
</h1>

<%= image_tag @image.file.url %>

<%= simple_form_for [folder, @image] do |f| %>
  <%= f.input :label_list %>
  <%= f.submit %>
<% end %>
