<h1>
  <%= link_to folder.name, folder %>
  /
  <%= @image.name %></h1>
<%= image_tag @image.file.url %>

<%= simple_form_for [:folder, @image] do |f| %>
  <%= f.input :label_list %>
  <%= f.submit %>
<% end %>
