<!DOCTYPE html>
<html>
  <head>
    <title>Rectuiting Demo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="hmenu">
      <li><%= link_to 'Dashboard', dashboard_path %></li>
      <li><%= link_to 'Files', folders_path %></li>
      <%= render 'login_items' %>
    </ul>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
